net "clk"  loc = "P75"; 
net "rst"  loc = "p51";
NET "k"   loc = "p54";
NET "rst" CLOCK_DEDICATED_ROUTE = FALSE;

net "nble" loc="p137";
net "nbhe" loc = "p138";
net "nrd" loc = "p139";
net "nwr" loc = "p152";
net "nmreq" loc = "p168";

net "abus<0>" loc = "p179";
net "abus<1>" loc = "p178";
net "abus<2>" loc = "p177";
net "abus<3>" loc = "p172";
net "abus<4>" loc = "p171";
net "abus<5>" loc = "p151";
net "abus<6>" loc = "p150";
net "abus<7>" loc = "p147";
net "abus<8>" loc = "p146";
net "abus<9>" loc = "p113";
net "abus<10>" loc = "p115";
net "abus<11>" loc = "p116";
net "abus<12>" loc = "p119";
net "abus<13>" loc = "p140";
net "abus<14>" loc = "p144";
net "abus<15>" loc = "p145";

net "dbus<0>" loc = "p167";
net "dbus<1>" loc = "p165";
net "dbus<2>" loc = "p164";
net "dbus<3>" loc = "p163";
net "dbus<4>" loc = "p162";
net "dbus<5>" loc = "p161";
net "dbus<6>" loc = "p160";
net "dbus<7>" loc = "p153";
net "dbus<8>" loc = "p120";
net "dbus<9>" loc = "p122";
net "dbus<10>" loc = "p123";
net "dbus<11>" loc = "p128";
net "dbus<12>" loc = "p132";
net "dbus<13>" loc = "p133";
net "dbus<14>" loc = "p134";
net "dbus<15>" loc = "p135";

net "s0<0>" loc="p4";
net "s0<1>" loc="p5";
net "s0<2>" loc="p8";
net "s0<3>" loc="p9";
net "s0<4>" loc="p11";
net "s0<5>" loc="p12";
net "s0<6>" loc="p15";
net "s0<7>" loc="p16";

net "s1<0>" loc="p18";
net "s1<1>" loc="p19";
net "s1<2>" loc="p22";
net "s1<3>" loc="p23";
net "s1<4>" loc="p24";
net "s1<5>" loc="p25";
net "s1<6>" loc="p28";
net "s1<7>" loc="p29";

net "s2<0>" loc="p31";
net "s2<1>" loc="p33";
net "s2<2>" loc="p34";
net "s2<3>" loc="p35";
net "s2<4>" loc="p36";
net "s2<5>" loc="p39";
net "s2<6>" loc="p40";
net "s2<7>" loc="p41";

net "s3<0>" loc="p42";
net "s3<1>" loc="p45";
net "s3<2>" loc="p47";
net "s3<3>" loc="p48";
net "s3<4>" loc="p49";
net "s3<5>" loc="p50";
net "s3<6>" loc="p55";
net "s3<7>" loc="p56";

net "s4<0>" loc="p60";
net "s4<1>" loc="p61";
net "s4<2>" loc="p62";
net "s4<3>" loc="p63";
net "s4<4>" loc="p2";
net "s4<5>" loc="p108";
net "s4<6>" loc="p109";
net "s4<7>" loc="p112";

net "s5<0>" loc="p126";
net "s5<1>" loc="p127";
net "s5<2>" loc="p129";
net "s5<3>" loc="p202";
net "s5<4>" loc="p203";
net "s5<5>" loc="p205";
net "s5<6>" loc="p206";
net "s5<7>" loc="p103";

net "A<0>" loc="p102";
net "A<1>" loc="p100";
net "A<2>" loc="p99";
net "A<3>" loc="p98";
net "A<4>" loc="p83";
net "A<5>" loc="p82";
net "A<6>" loc="p77";
net "A<7>" loc="p185";

net "B<0>" loc="p196";
net "B<1>" loc="p193";
net "B<2>" loc="p192";
net "B<3>" loc="p190";
net "B<4>" loc="p3";
net "B<5>" loc="p200";
net "B<6>" loc="p199";
net "B<7>" loc="p197";